@{
    ViewData["Title"] = "NhanVien";
}

<div>
    <h1>
        Trang Nhân Viên 
    </h1>

    <input type="button" value="Create PDF file" onclick="location.href='@Url.Action("Report", "NhanVien")'"/>

</div>